<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap Basic Template</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="icon" type="image/png" href="favicon.png">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th>Month</th>
				<th>Savings</th>
				<th>Who</th>
				<th>Let</th>
				<th>The</th>
				<th>Dogs</th>
				<th>Out</th>
				<th>?</th>
			</tr>
			<tr>
				<td>January</td>
				<td>$100</td>
				<td>$100</td>
				<td>Woo</td>
				<td>$100</td>
				<td>Woo</td>
				<td>$100</td>
				<td>Woo</td>
			</tr>
			<tr>
				<td>January</td>
				<td>$100</td>
				<td>$100</td>
				<td>Woo</td>
				<td>$100</td>
				<td>Woo</td>
				<td>$100</td>
				<td>Woo</td>
			</tr>
			<tr>
				<td>January</td>
				<td>$100</td>
				<td>$100</td>
				<td>Woo</td>
				<td>$100</td>
				<td>Woo</td>
				<td>$100</td>
				<td>Woo</td>
			</tr>
		</table>
	</div>
</body>
</html>